name: Deploy Strapi STG

on:
  push:
    branches: ["stg"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Connect and deploy to server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ${{ secrets.PROJECT_PATH }}
            git fetch origin stg
            git reset --hard origin/stg
            pnpm install --frozen-lockfile
            pm2 restart strapi-stg || pm2 start pnpm --name strapi-stg -- run start:stg
